<?xml version="1.0"?>
<RTSDynamicMenu>
	<Menu Text="Help" Mnemonic="H">
		<MenuItem Text="User Guide" Mnemonic="U" Accelerator="F1" ActionCommand="Launch#RTS2CH01.htm" />
		<Separator />
		<MenuItem Text="Messages" Mnemonic="M" Accelerator="F2" ActionCommand="com.txdot.isd.rts.client.help.ui.VCMessagesMES001" />
		<Separator />
		<MenuItem Text="Registration Manual" Mnemonic="R" Accelerator="" ActionCommand="Launch#remotehttp:http://www.txdmv.gov/whatyouneed/publications/titles_registration.htm" />
		<MenuItem Text="Title Manual" Mnemonic="T" Accelerator="" ActionCommand="Launch#remotehttp:http://www.txdmv.gov/whatyouneed/publications/titles_registration.htm" />
		<Separator />
		<MenuItem Text="VTR Forms" Mnemonic="V" Accelerator="" ActionCommand="Launch#remotehttp:http://www.txdmv.gov/whatyouneed/forms/titles_registration.htm" />
		<Separator />
		<MenuItem Text="Exempt Agency List" Mnemonic="X" Accelerator="" ActionCommand="Launch#Exempt_Agency_List.pdf" /><MenuItem Text="MVD Dealer List" Mnemonic="D" Accelerator="" ActionCommand="Launch#remotehttp:http://ftp.txdmv.gov/pub/txdot-info/mvd/dealer_list.xls"></MenuItem>
		<Separator></Separator>
		<MenuItem Text="TAC Information Hub" Mnemonic="H" Accelerator="" ActionCommand="Launch#remotehttp:http://www.txdmv.gov/tac/index.htm"></MenuItem>
	</Menu>
</RTSDynamicMenu>